@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Itim&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Itim&family=Satisfy&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Itim&family=Permanent+Marker&family=Satisfy&family=Spicy+Rice&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo h2{
    color: white;
    font-size: 28px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
}
.logo img{
    height: 30px;
}
.entrada{
    padding: 0;
    display: flex;
    justify-content: center;
}
.entrada ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.entrada li{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.entrada li:hover{
    background: rgb(0, 110, 255);
    box-shadow: 0 3px 10px black;
    
}
.entrada img{
    height: 25px;
    padding-right: 5px;
}
.entrada a{
    text-decoration: none;
    color: white;
    font-family: "Itim", cursive;
    font-weight: 500;
}
.entrada a:hover{
    color: #000;
    font-weight: 600;
}
.entrada-1{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.082);
    width: 130px;
    z-index: 1000;
    top: 12%;
    left: 1018.5px;
}
.entrada-1 ul{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.entrada-1 li{
    width: 130px;
    padding: 10px;
}
.entrada-1 a{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.entrada-0:hover .entrada-1{
    display: block;
}
.portada{
    height: 100vh;
    background:linear-gradient(to right,black, rgba(255, 255, 255, 0.031)),url("../fondos/fon-1.jpg");
    background-size: cover;
}
.titulo{
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.titulo h1{
    margin-top: 150px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
}
.titulo h3{
    font-family: "Itim", cursive;
    margin-left: 20px;
    width: 600px;
    color: aqua;

}
.central{
    display: flex;
    flex-direction: row;
    box-shadow: 0 -70px 85px rgb(0, 0, 0);
}
.central-1{
    width :80%;
    background: #000;
}
.texto{
    padding: 35px;
    background: black;
    color: rgb(224, 224, 224);
    border-bottom: 2px solid white;
}
.texto h3{
    color: rgb(0, 255, 225);
    font-family: "Spicy Rice", serif;
    font-weight: 0;
    font-size: 52px;
}
.texto h2, h1{
    color: rgb(0, 119, 255);
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 22px;
}
.texto p{
    font-family: "Itim", cursive;
    font-size: 18px;
    text-align: justify;
    font-weight: 100;
}
.texto ul{
    padding-left: 40px;
    font-family: "Itim", cursive;
    font-size: 18px;
    text-align: justify;
    list-style-type: none;
}
.texto li::before{
    content: "🔹";
}
.texto-2 {
    padding:  15px 35px;
    background: rgba(0, 123, 255, 0.765);
    color: rgb(224, 224, 224);
    border-bottom: 2px solid white;
}
.texto-2 h2{
    color: rgb(0, 0, 0);
    font-family: "Spicy Rice", serif;
    font-weight: 0;
    font-size: 30px;
}
.texto-2 p{
    font-family: "Itim", cursive;
    font-size: 18px;
    text-align: justify;
    font-weight: 100;
    color: black;
}
.central-2{
    width:  20%;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
}
.noticias{
    display: flex;
    flex-direction: column;
}
.not-1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-1 h2{
    color: rgb(255, 255, 255);
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 22px;
}
.not-2{
    background-color: rgb(83, 83, 83);
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.not-2 h2{
    color: rgb(255, 255, 255);
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.not-2 p{
    font-family: "Itim", cursive;
    font-size: 15px;
    font-weight: 100;
    color: black;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}
.imgs img{
    width: 250px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: black;
    padding-top: 20px;
}
.abajo ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: start;
}
.abajo li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Itim", cursive;
    font-weight: 400;
    color: white;
}
.abajo img{
    height: 25px;
    padding-right: 10px;
}
.abajo a{
    color: white;
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: 400;
}
.abajo h2{
    color: white;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    margin-bottom: 10px;
}
